---

---

<div class="pricing">
Pricing Component
</div>

<style lang="scss">
.pricing {
    background-color: #0D1116;
    background-image: url('https://github.com/images/modules/site/copilot/pricing-gradient.jpg');
    height: 100dvh;
    background-repeat: no-repeat;
}
</style>